<strong>Olá, {{deliveryman}}</strong>
<p>Nova encomenda para ser entregue, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong>{{ recipient }}<br/>
  <strong>Produto: </strong>{{ product }}<br/><br/>
  <small>
    Endereço de entrega: <br/>
    {{ rua }} - {{numero}}, {{complemento}}<br/>
    cep: {{cep}}, {{cidade}} - {{estado}}
  </small>
</p>
